body {
  margin: 0 auto;
  background-color: #f9f9f9;
  font-family: 'Open Sans', sans-serif;
  color: #616161;
}

header {
  margin: auto;
  padding-bottom: 50px;
}

footer {
  margin: 100px auto;
  text-align: left;
  font-size: .8em;
  width: 450px;
}

footer p {
  padding-top: 15px;
}

footer img {
  float: left;
  padding: 0 10px 0 20px;
}

svg {
  display: block;
  margin: auto;
}

.node {
  transition: opacity .5s;
}

.node circle {
  cursor: pointer;
  stroke: #2B282B;
  stroke-width: 1.5px;
}

.node circle:hover {
  opacity: 0.5;
}

.link {
  stroke: #2B282B;
  stroke-opacity: .6;
}

.node text {
  pointer-events: none;
  font-size: 1em; 
  font-family: 'Open Sans', sans-serif;
  color: #3B3B3B;
}

.node_data {
	max-width: 800px;
  margin: auto;
}

.legend circle {
  transition: opacity .5s;
  stroke: #2B282B;
  stroke-width: 1.5px;
}

h1 {
  margin-bottom: 0;
  text-align: center;
  font-size: 2.5em;
}

h2 {
  margin-top: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2em; 
}

header h2 {
  text-align: center;
}

p {
  font-size: 1em;
}

a {
  color: #4B9DA3;
}

